

.MenuNav div{
  display: flex;
  background-color: orange;
  height: 40px;
}

.MenuNav li{
  color: black;
  display: inline;
  text-decoration: none;
	list-style: none;
	border: 5px solid orange;
  background-color: orange;
  

}

.MenuNav a:hover{
  background-color: red;
}

/* .MenuNav input{
  position: absolute;
  right: 0;
} */

/* .SearchForm{
  background-color: black;
  position: relative;
  right: 0px;
} */

.SearchForm input{
  
  width: 100px;
  position: relative;
  height: 20px;
  top: 18%;
  
}

.SearchForm button{
  background-color: burlywood;
  color: black;
  position: relative;
  height: 27px;
  left: 0px;
  top: 18%;
  
}

/* .SearchForm button{

} */