

.MenuNav div{
  display: flex;
  background-color: orange;
}

.MenuNav li{
  color: black;
  display: inline;
  text-decoration: none;
	list-style: none;
	border: 15px solid orange;
  background-color: orange;
  

}

.MenuNav a:hover{
  background-color: red;
}

.MenuNav input{
  position: absolute;
  right: 0;
}